version: "3.9"

services:
  db:
    image: postgres:15
    container_name: jobtracker_db
    restart: always
    env_file: ".env"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: my-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  db_data:
  redis-data:
